<app-header [title]="headerProps.title" [show]="headerProps.showTitle"></app-header>

<div class="vagas-container">
    <ul class="cards-list">
        <li class="vaga">
            <img class="card" src="../../../assets/card-vaga.svg" alt="">
        </li>
        <li class="vaga">
            <img class="card" src="../../../assets/card-vaga.svg" alt="">
        </li>
        <li class="vaga">
            <img class="card" src="../../../assets/card-vaga.svg" alt="">
        </li>
        <li class="vaga">
            <img class="card" src="../../../assets/card-vaga.svg" alt="">
        </li>
        <li class="vaga">
            <img class="card" src="../../../assets/card-vaga.svg" alt="">
        </li>
        <li class="vaga">
            <img class="card" src="../../../assets/card-vaga.svg" alt="">
        </li>
    </ul>
</div>
