<app-header [showInfoProfile]="headerProps.showInfoProfile" [title]="headerProps.title" [showTitle]="headerProps.showTitle"></app-header>

<div class="vagas-container">
    <ul class="cards-list">
        <app-card-job></app-card-job>
        <app-card-job></app-card-job>
        <app-card-job></app-card-job>
        <app-card-job></app-card-job>
        <app-card-job></app-card-job>        
        <app-card-job></app-card-job>
        <app-card-job></app-card-job>
        <app-card-job></app-card-job>
    </ul>
</div>