<app-header [showInfoProfile]="headerProps.showInfoProfile" [showTitle]="headerProps.showTitle"></app-header>

<div class="container">
    <img src="../../../assets/slider.png" alt="">
    <h1>Bem Vindo(a) Isabeli</h1>
    <ul class="options-list">
        <li class="options">
            <a class="route" routerLink="/calendario-academico">
                <img class="icone" src="../../../assets/icone-calendario.svg" alt="">
                <span>Calendário <br> Acadêmico</span>
            </a>
        </li>
        <li class="options">
            <a class="route" routerLink="/horario">
                <img class="icone" src="../../../assets/icone-relogio.svg" alt="">
                <span>Horário <br> Individual</span>
            </a>
        </li>  
        <li class="options">
            <a class="route" routerLink="/cadastro-aluno">
                <img class="icone" src="../../../assets/icone-cadastro-aluno.svg" alt="">
                <span>Cadastrar <br> Aluno(a)</span>
            </a>
        </li>
        <li class="options">
            <a class="route" routerLink="/cadastro-professor">
                <img class="icone" src="../../../assets/icone-cadastro-professor.svg" alt="">
                <span>Cadastrar <br> Professor(a)</span>
            </a>
        </li>       
    </ul>
</div>

