.container {
    padding: 0 20px;
    color: rgba(25, 149, 88, 1);
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.profile-info {
    display: flex;
    align-items: center;
}
.profile-info span {
    font-weight: 500;
}

.profile-info i {
    width: 1rem;
    height: 1rem;
    margin-left: 1rem;
}

.title {
    margin-top: 3rem;
    display: flex;
    font-size: 2rem;
}

.title h1 {
    margin-left: 1rem;
    font-weight: 700;
    display: flex;
}
