<app-header [showInfoProfile]="headerProps.showInfoProfile" [showTitle]="headerProps.showTitle" [title]="headerProps.title"></app-header>

<div class="diarios-container">
    <ul class="cards-list">
        <app-card-diary></app-card-diary>
        <app-card-diary></app-card-diary>
        <app-card-diary></app-card-diary>
        <app-card-diary></app-card-diary>
        <app-card-diary></app-card-diary>
        <app-card-diary></app-card-diary>
        <app-card-diary></app-card-diary>
        <app-card-diary></app-card-diary>
    </ul>
</div>


