.container {
    margin-top: 30px;
}
.title {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    font-size: 2.25rem;
}

.container-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 50px;
}

.container-buttons {
    display: inline-block;
    position: relative;
}

.buttons{
    display: flex;
    margin-top: 32px;
    position: absolute;
    top: 100px;
}

#button-primary {
    margin-right: 15px;
}

.bg {
    width: 30rem;
    height: 30rem;
}