.container {
    background: transparent;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

a {
    display: flex;
    text-decoration: none;
    color: rgba(25, 149, 88, 1);
    font-size: 0.75rem;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;

}

.items {
    padding: 4px;
    margin-left: 1.5rem;
    border-bottom: 2px solid transparent;
}

.items:hover {
    padding: 4px;
    border-bottom: 2px solid rgba(25, 149, 88, 1);
    transition: .5s all;
}

a:active {
    padding: 4px;
    border-bottom: 2px solid rgba(25, 149, 88, 1);
}

.navigation-items {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    list-style-type: none;
}