<mat-toolbar class="container">
    <a [routerLink]="'/login'"><img src="../../../assets/logo-ifce.svg" alt=""></a>
    <div>
        <ul class="navigation-items">
            <li><a class="items" mat-button [routerLink]="'/aluno'">Aluno</a></li>
            <li><a class="items" mat-button [routerLink]="'/professor'">Professor</a></li>
            <li><a class="items" mat-button [routerLink]="'/pais-de-aluno'">Pais de Aluno</a></li>
            <li><a class="items" mat-button [routerLink]="'/egresso'">Egresso</a></li>
            <li><a class="items" mat-button [routerLink]="'/coordenador'">Coordenador</a></li>
            <li><a class="items" mat-button [routerLink]="'/coordenador-de-estagio'">Coordenador de Estágio</a></li>
            <li><a class="items" mat-button [routerLink]="'/gestor'">Gestor</a></li>
        </ul>
    </div>
</mat-toolbar>