<app-header [show]="headerProps.showTitle"></app-header>

<div class="container">
    <img src="../../../assets/slider.png" alt="">
    <h1>Bem Vindo(a) Isabeli</h1>
    <ul class="options-list">
        <li class="options">
            <img class="card" src="../../../assets/card.svg" alt="">
        </li>
        <li class="options">
            <img class="card" src="../../../assets/card.svg" alt="">
        </li>
        <li class="options">
            <img class="card" src="../../../assets/card.svg" alt="">
        </li>
        <li class="options">
            <img class="card" src="../../../assets/card.svg" alt="">
        </li>
        <li class="options">
            <img class="card" src="../../../assets/card.svg" alt="">
        </li>
        <li class="options">
            <img class="card" src="../../../assets/card.svg" alt="">
        </li>
        <li class="options">
            <img class="card" src="../../../assets/card.svg" alt="">
        </li>
        <li class="options">
            <img class="card" src="../../../assets/card.svg" alt="">
        </li>
        <li class="options">
            <img class="card" src="../../../assets/card.svg" alt="">
        </li>
    </ul>
</div>
