<app-header [show]="headerProps.showTitle"></app-header>

<div class="container">
    <img src="../../../assets/slider.png" alt="">
    <h1>Bem Vindo(a) Isabeli</h1>
    <ul class="options-list">
        <li class="options">
            <a class="route" routerLink="/calendario-academico">
                <img class="icone" src="../../../assets/icone-calendario.svg" alt="">
                <span>Calendário <br> Acadêmico</span>
            </a>
        </li>
        <li class="options">
            <a class="route" routerLink="/horario">
                <img class="icone" src="../../../assets/icone-relogio.svg" alt="">
                <span>Horário <br> Individual</span>
            </a>
        </li>
        <li class="options">
            <a class="route" routerLink="/vagas-de-emprego">
                <img class="icone" src="../../../assets/icone-curriculo.svg" alt="">
                <span>Vagas <br>de Emprego</span>
            </a>
        </li>
    </ul>
</div>
