<app-header [title]="headerProps.title" [showInfoProfile]="headerProps.showInfoProfile" [showTitle]="headerProps.showTitle"></app-header>

<div class="calendars-container">
    <ul class="calendar-list">
        <li class="calendar-item">
            <img class="calendar" src="../../../assets/mock-calendario.svg" alt="">
        </li>
        <li class="calendar-item">
            <img class="calendar" src="../../../assets/mock-calendario.svg" alt="">
        </li>
        <li class="calendar-item">
            <img class="calendar" src="../../../assets/mock-calendario.svg" alt="">
        </li>
        <li class="calendar-item">
            <img class="calendar" src="../../../assets/mock-calendario.svg" alt="">
        </li>
        <li class="calendar-item">
            <img class="calendar" src="../../../assets/mock-calendario.svg" alt="">
        </li>
        <li class="calendar-item">
            <img class="calendar" src="../../../assets/mock-calendario.svg" alt="">
        </li>
        <li class="calendar-item">
            <img class="calendar" src="../../../assets/mock-calendario.svg" alt="">
        </li>
        <li class="calendar-item">
            <img class="calendar" src="../../../assets/mock-calendario.svg" alt="">
        </li>
        <li class="calendar-item">
            <img class="calendar" src="../../../assets/mock-calendario.svg" alt="">
        </li>
        <li class="calendar-item">
            <img class="calendar" src="../../../assets/mock-calendario.svg" alt="">
        </li>
        <li class="calendar-item">
            <img class="calendar" src="../../../assets/mock-calendario.svg" alt="">
        </li>
        <li class="calendar-item">
            <img class="calendar" src="../../../assets/mock-calendario.svg" alt="">
        </li>
    </ul>
</div>