
.calendar-list {
    display: flex;
    justify-content: center;
    list-style: none;
    flex-wrap: wrap;
}

.calendar-item {
    margin-right: 0.25rem;
    margin-bottom: 0.25rem;
}

.calendar {
    width: 250px;
    height: 245.72px;
}