<app-header [title]="headerProps.title" [show]="headerProps.showTitle"></app-header>


<div class="orientacoes-container">
    <ul class="cards-list">
        <li class="orientacao">
            <img class="card" src="../../../assets/card-orientacao.svg" alt="">
        </li>
        <li class="orientacao">
            <img class="card" src="../../../assets/card-orientacao.svg" alt="">
        </li>
        <li class="orientacao">
            <img class="card" src="../../../assets/card-orientacao.svg" alt="">
        </li>
        <li class="orientacao">
            <img class="card" src="../../../assets/card-orientacao.svg" alt="">
        </li>
        <li class="orientacao">
            <img class="card" src="../../../assets/card-orientacao.svg" alt="">
        </li>
        <li class="orientacao">
            <img class="card" src="../../../assets/card-orientacao.svg" alt="">
        </li>
    </ul>
</div>
