/* You can add global styles to this file, and also import other style files */
* {
    font-family: 'Montserrat', sans-serif;
}
body {
    background: #F9F9F9;
}
html, body { height: 100%; }
body { margin: 10px; font-family: Roboto, "Helvetica Neue", sans-serif; }
