.container {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.container-form {
    padding: 0;
    margin: auto 0;
    background: rgba(25, 149, 88, 0.2);
    width: 31.5rem;
    height: 36rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    color: rgb(25, 149, 88);
}

h1 {
    font-weight: 700;
    font-size: 2rem;
}

.form-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 48px;
}

.input-group{
    width: 400px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(25, 149, 88, 1);
}

i {
    position: relative;
    height: 18px;
    width: 18px;
    margin-left: 16px;
    color: rgb(25, 149, 88);
}

#show-password {
    cursor: pointer;
}

input {
    background: transparent;
    padding: none;
    border: none;
    width: 350px;
    height: 50px;
    border-radius: 4px;
    outline: none;
}

input::placeholder, #remember {
    font-size: 12px;
    color: rgb(25, 149, 88);
}
#remember {
    margin: 8px 0 40px 0;
    text-decoration: none;
}

img {
    width: 50%;
}